<html>
<head>
<title>Home</title>
</head>
<body>
	<a href="/accedi">Login</a> <br/>
	<a href="/registrati">Registrati</a> <br/>
	<a href="/personale">Controlla i tuoi dati e le tue prenotazioni</a> <br/>
	{% if proiezioni %}
	<table>
		<tr>
			<th>Film</th>
			<th>Data</th>
			<th>Sala</th>
			<th>Durata</th>
		</tr>
		{% for proiezione  in proiezioni %}
		<tr>
			<td> {{ proiezione }} </td>
			<td> {{ proiezione  }} </td>
			<td> {{ proiezione }} </td>
			<td> {{ proiezione }} </td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</body>
</html>