<html>
<head>
	<title>Home</title>
	<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
	{% if utente %}
	<h2> benvenuto {{utente.cognome}} {{utente.nome}} </h2>
	<a href="/logout">Logout</a> <br/>
	<a href="/personale">Controlla i tuoi dati e le tue prenotazioni</a> <br/>
	{% else %}
	<a href="/accedi">Login</a> <br/>
	<a href="/registrati">Registrati</a> <br/>
	{% endif %}
	{% if gestore %}
	<a href="/gestione">Gestisci</a> <br/>
	{% endif %}
	{% if proiezioni %}
	<table>
		<tr>
			<th>Data</th>
			<th>Sala</th>
			<th>Film</th>
			<th>Durata</th>	
			<th>Anno Pubblicazionw</th>
			<th>Regista</th>
			<th>Genere</th>
		</tr>
		{% for proiezione  in proiezioni %}
		<tr>
			<td> {{ proiezione.1}} </td>
			<td> {{ proiezione.2 }} </td>
			<td> {{ proiezione.8 }} </td>
			<td> {{ proiezione.9 }} </td>
			<td> {{ proiezione.10 }} </td>
			<td> {{ proiezione.11 }} </td>
			<td> {{ proiezione.12 }} </td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	<a href="/programmazione">Programmazione completa</a>
</body>
</html>