<html>
<head>
<title>Gestisci Autorizzazioni</title>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
	<a href="/">Torna indietro</a><br>
	<a href="/prenotazioni">Controlla le mie prenotazione</a><br>
	<a href="/prenotabili">Fai una prenotazione</a><br>
	<table>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Email/Username</th>
			<th>Password</th>
			<th>Telefono</th>
			<th>Gestore</th>
		</tr>
		<tr>
			<td>{{profilo.ID}}</td>
			<td>{{profilo.nome}}</td>
			<td>{{profilo.cognome}}</td>
			<td>{{profilo.email}}</td>
			<td>{{profilo.password}}</td>
			<td>{{profilo.telefono}}</td>
			<td>{{profilo.gestore}}</td>
			
		</tr>
	</table>
</body>
</html>