<html>
<head>
<title>Registrazione</title>
</head>
<body>
Inserisci email e password per accedere
	<form action="/registrazione" method="POST">
	<label for="inome">Nome:</label>
	<br>
	<input type="text" id="inome" name="nome"type="text">
	<br>
	<label for="icognome">Cognome:</label>
	<br>
	<input type="text" id="icognome" name="cognome"type="text">
	<br>
	<label for="iemail">Email:</label>
	<br>
	<input type="text" id="iemail" name="email"type="text">
	<br>
	<label for="ipassword">Password:</label>
	<br>
	<input type="text" id="ipassword" name="password"type="text">
	<br>
	<label for="itelefono">Telefono:</label>
	<br>
	<input type="text" id="itelefono" name="telefono"type="Text">
	<br>
	
	<input type="submit" value="Registrami"> 
	</form>
</body>
</html>